@using Suchmasy.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Request
@{
    var userId = (string)TempData["UserId"];
}


                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@Model.Product</h4>
                            <b class="card-text">Quantity: @Model.Quantity</b>
                            <p class="card-text">@Model.Text</p>
                            <p class="card-text"><small class="text-muted">Requester: @Model.RequesterEmail</small></p>
                            <p class="card-text"><small class="text-muted">Requested on: @Model.PlacedOn</small></p>

                            @if (Model.Status == RequestStatus.Submitted)
                            {
                                <p class="text-success card-text request-status"><small>@RequestStatus.Submitted</small></p>
                                @if (User.IsInRole("buyer"))
                                {
                                    <a href="#" class="btn btn-primary">
                                        Complete
                                    </a>
                                }
                                @if (User.IsInRole("requester") &&
                                    userId == Model.RequesterId)
                                {
                                    <a href="#" class="btn btn-warning">
                                        Cancel
                                    </a>
                                }
                            }
                            else if (Model.Status == RequestStatus.Completed)
                            {
                                <p class="text-primary card-text request-status"><small>@RequestStatus.Completed</small></p>
                            }
                            else if(Model.Status == RequestStatus.Cancelled)
                            {
                                <p class="text-warning card-text request-status"><small>@RequestStatus.Cancelled</small></p>
                            }

                        </div>
                    </div>
                </div>
