@using Suchmasy.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Order
@{
    var userId = (string)TempData["UserId"];
}

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Order</h4>
                          
                            <p class="card-text">Supplier:      <b>@Model.Supplier.BrandName</b></p>
                            <p class="card-text">Product:       <b>@Model.Product.ProductName</b></p>
                            <p class="card-text">Quantity:      <b>@Model.Quantity</b></p>
                            <p class="card-text">Unit price:    <b>@Model.UnitPrice</b></p>
                            <p class="card-text">Toral price:   <b>@Model.TotalPrice</b></p>
                            <p class="card-text"><small class="text-muted">Buyer: @Model.BuyerEmail</small></p>
                            <p class="card-text"><small class="text-muted">Requested on: @Model.PlacedOn</small></p>
                            <p class="text-success card-text request-status">Ordered</p>
                         
                        </div>
                    </div>
                </div>
