@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Suchmasy.Models
@model List<Request>
@{
    var userId = (string)TempData["UserId"];
}




<div class="card-deck margin-20">
    <div class="container">
        <div class="row">
            @foreach (var req in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@req.Product</h4>
                            <b class="card-text">Quantity: @req.Quantity</b>
                            <p class="card-text">@req.Text</p>
                            <p class="card-text"><small class="text-muted">Requester: @req.RequesterEmail</small></p>
                            <p class="card-text"><small class="text-muted">Requested on: @req.PlacedOn</small></p>

                            @if (!req.Completed)
                            {
                                <p class="card-text"><small class="text-muted">tatus: <b>Submitted</b></small></p>
                                @if (User.IsInRole("buyer"))
                                {
                                    <a href="#" class="btn btn-primary">
                                        Complete
                                    </a>
                                }
                                @if (User.IsInRole("requester") &&
                                       userId == req.RequesterId)
                                {
                                    <a href="#" class="btn btn-warning">
                                        Cancel
                                    </a>
                                }
                            }
                            else
                            {
                                <p class="card-text"><small class="text-muted">Status: <b>Completed</b></small></p>
                                @*<a href="#" class="btn btn-secondary disabled">
                                    Completed
                                    </a>*@
                            }

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



